<!DOCTYPE html>
<HTML lang="en">
    <HEAD>
        <TITLE>HBNB</TITLE>
    </HEAD>
    <BODY>
        {% if not state_id %}
	<H1>States</H1>
	{% for state in all_states.values()|sort(attribute="name") %}
        <UL>
	  <LI>{{ state.id }}: <B>{{ state.name }}</B></LI>
	</UL>
	{% endfor %}

	{% elif state_id and single_state %}
        <H1>State: {{ single_state.name }}</H1>
        <H3>Cities:</H3>
	 {% for i in city_list|sort(attribute="name") %}
        <UL>
          <LI>{{ i.id }}: <B>{{ i.name }}</B></LI>
        </UL>
	{% endfor %}

	{% else %}
	<H1>Not found!</H1>

	{% endif %}

    </BODY>
</HTML>
